<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/styles.css')}}">
    <title>GYM!</title>
</head>
<body>
    <div class="h">
    <header>
        
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('about')}}">About Us</a>
        <a href="{{url_for('membership')}}">Membership</a>
    </header>
    </div>
    <div style="text-align: center;" ><img src="{{url_for('static',filename='images/GYM logo1.jpg')}}"/></div>    
    <div class="home">
    <h1>Welcome To XYZ GYM</h1>
    <p> Welcome to XYZ Gym, where fitness meets passion! Our mission is to empower individuals to reach their fullest potential through personalized fitness programs, expert guidance, and a supportive community. Whether you're just starting your fitness journey or you're a seasoned athlete, we offer a variety of workouts, from strength training and cardio to yoga and group classes, designed to help you achieve your goals. Our state-of-the-art facilities, experienced trainers, and commitment to fostering a positive, motivating environment ensure that you'll have the tools and support you need to succeed. Join us today and become part of a community that celebrates progress, dedication, and strength!<p></p>
    <div style="text-align: center;margin-bottom:20px ;">
    <a href="https://mooremusclehealthandfitness.com/10-reasons-why-gym-is-important/">learn more</a>
    </div>
    <hr>
    <h1>Join Us For A Healthy Life Style</h1>
    </div>
    <dev class="h">
        <footer><p> 2024 XYZ Gym. All rights reserved.</p></footer>
    </dev>
    
</body>
</html>